* {
    color: white;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1.5rem;
    text-align: center;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
}

header {
    background-color: red;
    flex-basis: 100%;
    height: 10%;
    order: 0;
}

aside:nth-of-type(1) {
    background-color: green;
    flex-basis: 25%;
    height: auto;
    order: 1;
}

aside:nth-of-type(2) {
    background-color: pink;
    flex-basis: 25%;
    height: auto;
    order: 3;
}

main {
    background-color: skyblue;
    flex-basis: 50%;
    height: 80%;
    order: 2;
}

footer {
    background-color: violet;
    flex-basis: 100%;
    height: 10%;
    order: 4;
}

@media (max-width: 992px) {
    body{
        height: 100vh;
    }
    aside:nth-of-type(1) {
        flex-basis: 100%;
        order: 3;
        height: 40%;
    }

    aside:nth-of-type(2) {
        order: 2;
        height: 40%;
    }

    main {
        flex-grow: 1;
        order: 1;
        height: 40%;
    }
}
@media (max-width: 768px){
    body{
        height: 100vh;
    }
    aside:nth-of-type(1) {
        flex-basis: 100%;
        order: 2;
        height: 26.6666%;
    }

    aside:nth-of-type(2) {
        flex-basis: 100%;
        order: 3;
        height: 26.6666%;
    }

    main {
        flex-basis: 100%;
        order: 1;
        height: 26.6666%;
    }
}
